@using BabyCareProject.Dtos.EventDtos
@model CreateEventDto
@{
    ViewData["Title"] = "CreateEvent";
}


<h1>Yeni Etkinlik Ekle</h1>

<form method="post" asp-area="Admin">
    <label>Tarih</label>
    <input type="text" asp-for="Date" class="form-control" />
    <br />
    <label>Başlangıç Tarihi</label>
    <input type="text" asp-for="StartTime" class="form-control" />
    <br />
    <label>Bitiş Tarihi</label>
    <input type="text" asp-for="EndTime" class="form-control" />
    <br />
    <label>Konum</label>
    <input type="text" asp-for="Location" class="form-control" />
    <br />
    <label>Başlık</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" class="form-control" />
    <br />
    <label>Görsel Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />



    <button class="btn btn-primary">Kaydet</button>
</form>

